.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.wrapper input {
  line-height: 1.8rem;
  border: 2px solid black;
}

.wrapper label {
  border: 2px solid blue;
  background-color: aqua;
  padding: 4px;
  font-weight: bold;
  position: relative;
  top: 3px;
}

.wrapper button {
  border: 2px solid red;
  background-color: #FFCCCB;
  height: 35px;
  outline: none;
  cursor: pointer;
}

.wrapper .details-container .customer-info {
  border: 1px solid grey;
  padding: 10px;
  width: 100%;
}